<body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>Administrateur</b>LTE</a>
      </div>
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Ajout Utilisateur</p>
    
          <form [formGroup]="form" (ngSubmit)="Enregistrer()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="nom" placeholder="Nom">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="prenom" placeholder="Prenom">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" (blur)="onblurTel()" class="form-control" formControlName="tel" placeholder="Tel">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <div *ngIf="dataTel" class="altert alert-danger">
              <h5>Numero de telephone existe dejà</h5>
            </div>
            <div class="input-group mb-3">
              <input type="email" (blur)="onblurEmail()" class="form-control" formControlName="email" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div *ngIf="dataEmail" class="altert alert-danger">
              <h5>Email existe dejà</h5>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" (blur)="onblurConfirmation()" class="form-control" formControlName="confirmation" placeholder="Confirmation">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div *ngIf="isTrue" class="altert alert-danger">
              <h5>Mot de passe different de la confirmation</h5>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms">
                   I agree to the <a href="#">terms</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-5">
                <button type="submit" [disabled]="(isTrue || dataEmail || dataTel)" class="btn btn-primary btn-block">Enregistrer</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    </body>
