<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
     
      <!-- Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Blank Page</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Detail type prduit</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <!--  Affichage de la recherche  -->
                   <div class="row">
                      <div class="col-md-4">
                          <a routerLink="/type/produit/create" class="btn btn-primary">Ajout</a>
                      </div> 
                    </div>
                    <br>
                <!--  Affichage de la recherche-->
                <!--Affichage L'ensemble des centres-->
                <div class="row" id="type" >
                    <div class="col-md-12" >
                        <div class="card">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-12">
                                    <h4 class="shadow-none p-3 mb-5 bg-light rounded" style="text-align: center;">{{type?.nomCentre}}</h4>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Type: {{type?.type}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a routerLink="/type/produit/edit/{{type?.id}}" class="btn btn-primary">Editer</a>
                                    </div>
                                    <div class="col-md-4">
                                      <button (click)="getDeleteType()" class="btn btn-danger" >Supprimer</button>
                                  </div>
                                  <div class="col-md-4">
                                    <a routerLink="/type/produit" class="btn btn-primary">Retour</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <!--Affichage L'ensemble des typeres-->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
        
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
