<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
     
      <!-- Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Blank Page</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Detail du client {{client.nom}}</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <!--Affichage L'ensemble des clients-->
                <div class="row" id="client">
                    <div class="row">
                      <div class="col-md-4">
                        <a routerLink="/client" class="btn btn-primary">Retour</a>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="client">
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 style="text-align: center;" >Nom: {{client.nom}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Prenom: {{client.adresse}}</h4>
                                        <h4>Date de naissance: {{client.dateNaissance}}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Tel: {{client.tel}}</h4>
                                        <h4>Adresse: {{client.adresse}}</h4> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a routerLink="/client/edit/{{client.id}}" class="btn btn-primary">Editer</a>
                                    </div>
                                    <div class="col-md-4">
                                      <button (click)="deleteclient()" class="btn btn-danger" >Supprimer</button>
                                  </div>
                                  <div class="col-md-4">
                                    <a routerLink="/client" class="btn btn-primary">Retour</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
  
                        </div>
                    </div>
                </div>
                <!--Affichage L'ensemble des centres-->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
        
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>