<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
     
      <!-- Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Blank Page</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Edit produitStock</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                      <a routerLink="/produit/stock" class="btn btn-primary">Les produits</a>
                  </div> 
                </div>
                <br>
                <!-- Ajout produit stock-->
                <form #form="ngForm" (ngSubmit)="Enregistrer(form)" >
                  <div class="row">
                    <div class="col-md-6">
                      <label for="produit">Produit</label>
                      <select  [ngModel]="produitStock?.idP" class="form-control"  name="idP" id="produit" >
                          <option *ngFor="let produit of produits;let i=index" value="{{i+1}}" id="produit">{{produit.designation}}({{produit.designationTypeProduit}})</option>
                      </select>
                      <label for="pua">PUA</label>
                      <input type="text" [ngModel]="dataproduit?.PUA" name="PUA" id="pua" class="form-control">
                      <label for="puv">PUV</label>
                      <input type="text" [ngModel]="dataproduit?.PUV" name="PUV" id="puv" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label for="quantite">quantite</label>
                      <input type="number" [ngModel]="produitStock?.quantite" name="quantite" id="quantite" class="form-control">
                      <label for="fournisseur">Fournisseur</label>
                      <select class="form-control" [ngModel]="produitStock?.idf" name="idf" id="fournisseur" >
                          <option *ngFor="let fournisseur of fournisseurs" value="{{fournisseur?.id}}" id="fournisseur">{{fournisseur?.nom}}({{fournisseur?.adresse}})</option>
                      </select>
                      <label for="stock">Stock</label>
                      <select class="form-control" [ngModel]="produitStock?.ids" name="ids" id="stock" >
                          <option *ngFor="let stock of stocks" value="{{stock?.id}}" id="stock">{{stock?.nom}}({{stock?.adresse}})</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <input type="submit" [disabled]="form.invalid" value="Enregistrer" class="btn btn-primary">
                    </div>
                  </div>
                </form>
                 <!-- Ajout produit stock-->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    
    
    