<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
     
      <!-- Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Blank Page</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Liste des ventes</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <!--  Affichage de la recherche  -->
                   <div class="row">
                      <div class="col-md-4">
                          <a routerLink="/vente/create" class="btn btn-primary">Ajout</a>
                      </div> 
                    </div>
                    <br>
                    <form #form="ngForm" (ngSubmit)="getSearch(form)">
                        <div class="row">
                          <div class="col-md-8">
                            <input type="text" name="id" class="form-control" ngModel placeholder="l'identifiant du produit vendu">
                          </div>
                          <div class="col-md-2">
                            <input type="submit" value="Rechercher" class="btn btn-primary">
                          </div>
                        </div>
                    </form>
                    <br>
                    <div *ngIf="venteShearshs" id="search" [hidden]="isTrue">
                      <div class="col-md-4">
                        <a (click)="getIsTrue()" routerLink="/vente" class="btn btn-primary">Retour</a>
                      </div>  
                      <br>
                        <div class="row">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 style="text-align: center;">{{venteShearshs?.nomCentre}}</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <h5>Produit:{{venteShearshs?.designationProduit}}</h5> 
                                                    <h5>Type:{{venteShearshs?.designationTypeProduit}}</h5> 
                                                </div>
                                                <div class="col-md-5">
                                                  <h5>Prix:{{venteShearshs?.prixVente}}</h5> 
                                                  <h5>Client:{{venteShearshs?.nomClient}}</h5> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5>client:{{venteShearshs?.nomCLient}}{{venteShearshs?.prenomClient}}</h5> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a routerLink="/vente/show/{{venteShearshs?.id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                </div>                                         
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
              
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
  
                <!--  Affichage de la recherche-->
                <!--Affichage L'ensemble des produits-->
                <div class="row" id="produit" [hidden]="!isTrue">
                    <div class="col-md-6" *ngFor="let vente of ventes;let i=index" >
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 style="text-align: center;">{{vente?.nomCentre}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5>Produit:{{vente?.designationProduit}}</h5> 
                                        <h5>Type:{{vente?.designationProduitType}}</h5> 
                                    </div>
                                    <div class="col-md-5">
                                      <h5>Prix:{{vente?.prixVente}}</h5> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>client:{{vente?.nomClient}}{{vente?.prenomClient}}</h5> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a routerLink="/vente/show/{{vente?.id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    </div>                                         
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
  
                        </div>
                    </div>
                </div>
                <!--Affichage L'ensemble des produitres-->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>