<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
     
      <!-- Main Sidebar Container -->
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Blank Page</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="text-align: center;">Ajout rayon</h3>
    
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                      <a routerLink="/rayon" class="btn btn-primary">Les rayons</a>
                  </div> 
                </div>
                <br>
                <!-- Ajout typeRayon stock-->
                <form #form="ngForm" (ngSubmit)="Enregistrer(form)" >
                  <div class="row">
                    <div class="col-md-6">
                      <label for="idType">Emplacement</label>
                      <select  ngModel  class="form-control"  name="idType" id="idType" >
                          <option *ngFor="let type of types;let i=index" value="{{i+1}}" id="typeRayon">{{type.designation}}</option>
                      </select>
                      <label for="idProduitStock">Stock</label>
                      <select  ngModel (blur)="!isQuantiteExiste(form)"  class="form-control"  name="idProduitStock" id="idProduitStock" >
                          <option *ngFor="let produitStock of produitStocks;let i=index" value="{{i+1}}" id="typeRayon">{{produitStock.noms}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="quantite">Quantite</label>
                      <input type="number" (keyup)="isQuantiteExiste(form)" ngModel name="quantite" id="quantite" class="form-control">
                      <div *ngIf="isExiste" class="alert alert-danger">
                        <h6>La quantité saisie est superieur à la quantité du sotocks(quantite restante est: {{quantite?.quantite}})</h6>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <input type="submit" [disabled]="isExiste" value="Enregistrer" class="btn btn-primary">
                    </div>
                  </div>
                </form>
                 <!-- Ajout typeRayon stock-->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    
    
    